html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Merienda', cursive;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
#nav {
    display:none;
}
#sky {
    background: linear-gradient(
    to bottom, 
    hsl(320, 100%, 88%), 
    hsl(21,100%,88%),
    hsl(46,100%,88%));
    position:fixed; 
}
#page1 {
    background: #403e75;
    height:100vh;
    display:block;
    /* position:fixed; */
}
#bio {
    font-size: 20px;
}
#page2 {
    background: #6A67C1;
    height: 100vh;
}
.card-image{
    height: 200px;
    overflow: hidden;
}
#page3 {
    background: #474582;
    height: 100vh;
}
#contactInfo {
    font-size: 20px;
}