html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Merienda', cursive;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
#nav {
    display:none;
}
#sunset {
    height: 600px;
}
#sky {
    background: linear-gradient(
    to bottom, 
    hsl(320, 100%, 88%), 
    hsl(21,100%,88%),
    hsl(46,100%,88%));
    position:fixed; 
    top: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10%;
    padding: 5px;
    margin: 5px auto;
    position: relative;
}
#page1 {
    background: url(../images/clouds_on_black.png) no-repeat 0px 0px;
    background-size: cover;
    height:200vh;
    width: 100%;
    display:block;
    /* position: fixed; */
    margin-top: 1100px;
}
#prlx_layer_1 {
    position: fixed;
    background: url(../images/clouds_on_black_mid.png) no-repeat 500px 500px;
    width: 100%;
    height: 1100px;
}
#prlx_layer_2 {
    position: fixed;
    background: url(../images/clouds_on_black_top.png) no-repeat -200px 500px;
    width: 100%;
    height: 1500px;
}
#bio {
    font-size: 20px;
}
#page2 {
    /* background: #6A67C1; */
    height: 100vh;
    display:block;
}
.card-image{
    height: 200px;
    overflow: hidden;
}
#page3 {
    background: #474582;
    height: 100vh;
}
#contactInfo {
    font-size: 20px;
}